/* Neon text effect */
.neonText {
    color: #fff;
    text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px #0fa,
        0 0 82px #0fa,
        0 0 92px #0fa,
        0 0 102px #0fa,
        0 0 151px #0fa;
}

/* Page base style */
body {
    font-size: 5vw;
    font-family: "Inter", sans-serif;
    background-color: #010a01;

    /* Center content */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
}

/* Shared heading styles */
h1, h2 {
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
}

/* Main 404 number */
h1 {
    font-size: clamp(2rem , 6vw, 8rem);
}

/* Neon pulse animation */
.pulsate {
    animation: pulsate 1.5s infinite alternate;
}

/* Sub text */
h2 {
    font-size: clamp(1.5rem, 3vw, 3.5rem);
}

/* Slight vertical offset */
.container {
    margin-top: 20vh;
}

/* Neon glow animation */
@keyframes pulsate {
    100% {
        text-shadow:
            0 0 4px #fff,
            0 0 11px #fff,
            0 0 19px #fff,
            0 0 40px #0fa,
            0 0 80px #0fa,
            0 0 90px #0fa,
            0 0 100px #0fa,
            0 0 150px #0fa;
    }

    0% {
        text-shadow:
            0 0 2px #fff,
            0 0 4px #fff,
            0 0 6px #fff,
            0 0 10px #0fa,
            0 0 45px #0fa,
            0 0 55px #0fa,
            0 0 70px #0fa,
            0 0 80px #0fa;
    }
}