:root {
    /* Base font size */
    font-size: 100%; /* Default 16px */

    /* Base bg color */
    --base-bg-color: #fcf9f2;

    /* Base text color */
    --base-txt-color: #323232;
}

/* Page base layout */
body {
    /* background-color: #111; */
    background-color: var(--base-bg-color);

    /* Center main content */
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    min-height: 32vh;
}

/* Site title */
h1 {
    grid-column: 4 / 10;

    /* Font config */
    font-family: 'Exo 2', sans-serif;
    font-size: 7.5rem;
    letter-spacing: 0.5rem;
    color: var(--base-txt-color);

    /* Layout config */
    padding-top: 6.5rem;
    padding-bottom: 2.5rem;
    text-align: center;

    text-transform: uppercase;
}

/* Text selection style (Firefox) */
h1::-moz-selection {
}

/* Text selection style */
h1::selection {
}

/* Remove focus outline */
h1:focus {
}

/* Logo */
.logo {
    grid-column: 4 / 10;
    justify-self: center;
    width: 20.5rem;
    height: auto;
    margin-top: -7.5rem;
}

/* Navigation container */
nav {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    padding-top: 2.5rem;
    padding-left: 2.5rem;
    margin-top: 3.5rem;

    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

/* Navigation link base style */
nav a {
    font-family: 'Exo 2', sans-serif;
    font-size: 1.5rem;
}

/* Neon navigation link */
.nav_link {
    position: relative;
    display: inline-block;
    text-decoration: none;
}

/* About link colors */
.about {
}

.about:hover {
}

/* Products link colors */
.products {
}

.products:hover {
}

/* Contact link colors */
.contact {
}

/* Contact link colors */
.contact:hover {
}

/* Suuport link colors */
.support {
}

.support:hover {
}