:root {
    /* Base font size */
    font-size: 100%; /* Default 16px */

    /* Neon effect colors */
    --neon-text-color: #f40;
    --neon-border-color: #08f;
}

/* Page base layout */
body {
    background-color: #111;

    /* Center main content */
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    min-height: 32vh;
}

/* Site title */
h1 {
    grid-column: 4 / 10;
    font-family: 'Exo 2', sans-serif;
    font-size: 6.5rem;
    font-weight: 200;
    font-style: italic;

    color: #fff;
    padding: 3.5rem 0rem 3.5rem;
    text-align: center;

    /* Neon border */
    border: 0.4rem solid #EEEEEE;
    border-radius: 2rem;
    text-shadow: 
            -0.2rem -0.2rem 1rem #EEEEEE,
            0.2rem 0.2rem 1rem #EEEEEE,
            0 0 2rem var(--neon-text-color),
            0 0 4rem var(--neon-text-color),
            0 0 6rem var(--neon-text-color),
            0 0 8rem var(--neon-text-color),
            0 0 10rem var(--neon-text-color);
        
        box-shadow: 
            0 0 0.5rem #b8b3b3,
            inset 0 0 0.5rem #b8b3b3,
            0 0 2rem var(--neon-border-color),
            inset 0 0 2rem var(--neon-border-color),
            0 0 4rem var(--neon-border-color),
            inset 0 0 4rem var(--neon-border-color);

    text-transform: uppercase;
}

/* Text selection style (Firefox) */
h1::-moz-selection {
    background-color: var(--neon-border-color);
    color: var(--neon-text-color);
}

/* Text selection style */
h1::selection {
    background-color: var(--neon-border-color);
    color: var(--neon-text-color);
}

/* Remove focus outline */
h1:focus {
    outline: none;
}

/* Navigation container */
nav {
    grid-column: 1 / 4;
    padding: 4.5rem;
    margin-top: 2.5rem;

    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    /* Keep link width equal to text width */
    align-items: flex-start;
}

/* Navigation link base style */
nav a {
    font-family: 'Exo 2', sans-serif;
    font-size: 3.5rem;
}

/* Neon navigation link */
.nav_link {
    position: relative;
    display: inline-block;
    text-decoration: none;

    /* Default neon colors */
    --neon-color: #fff;
    --neon-shadow1: #fff;
    --neon-shadow2: #fff;
    --neon-shadow3: #fff;

    color: var(--neon-color);
    text-shadow:
        0 0 1px var(--neon-color),
        0 0 20px var(--neon-shadow1),
        0 0 10px var(--neon-shadow1),
        0 0 10px var(--neon-shadow2),
        0 0 60px var(--neon-shadow3);
}

/* About link colors */
.about {
    /* Text-color */
    --neon-color: #cc0022;

    /* Shadow-color */
    --neon-shadow1: #cc0022;
    --neon-shadow2: #ff0055;
    --neon-shadow3: #ff0040;
}

.about:hover {
    /* Text-color */
    --neon-color: #ccc;

    /* Shadow-color */
    --neon-shadow1: #cc0022;
    --neon-shadow2: #ff0055;
    --neon-shadow3: #ff0040;
}

/* Products link colors */
.products {
    /* Text-color */
    --neon-color: #9929ea;

    /* Shadow-color */
    --neon-shadow1: #9929ea;
    --neon-shadow2: #9929ea;
    --neon-shadow3: #9929ea;
}

.products:hover {
    /* Text-color */
    --neon-color: #ccc;

    /* Shadow-color */
    --neon-shadow1: #9929ea;
    --neon-shadow2: #9929ea;
    --neon-shadow3: #9929ea;
}

/* Contact link colors */
.contact {
    /* Text color */
    --neon-color: #00b61e;

    /* Shadow-color */
    --neon-shadow1: #00b61e;
    --neon-shadow2: #00b61e;
    --neon-shadow3: #00b61e;
}

/* Contact link colors */
.contact:hover {
    /* Text color */
    --neon-color: #ccc;

    /* Shadow-color */
    --neon-shadow1: #00b61e;
    --neon-shadow2: #00b61e;
    --neon-shadow3: #00b61e;
}

/* Suuport link colors */
.support {
    /* Text-color */
    --neon-color: #ff5fcf;

    /* Shadow-color */
    --neon-shadow1: #ff5fcf;
    --neon-shadow2: #ff5fcf;
    --neon-shadow3: #ff5fcf;

}

.support:hover {
    /* Text-color */
    --neon-color: #ccc;

    /* Shadow-color */
    --neon-shadow1: #ff5fcf;
    --neon-shadow2: #ff5fcf;
    --neon-shadow3: #ff5fcf;
}