:root {
    /* Base font size */
    font-size: 100%; /* Default 16px */

    /* Base bg color */
    --base-bg-color: #fcf9f2;

    /* Base text color */
    --base-txt-color: #323232;
}

/* === Page base layout === */
body {
    /* Theme */
    background-color: var(--base-bg-color);

    /* Layout config */
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    min-height: 32vh;
}

/* === Site title === */
h1 {
    /* UI config */
    cursor: default;

    /* Layout config */
    grid-column: 4 / 10;
    padding-top: 6.5rem;
    padding-bottom: 2.5rem;
    text-align: center;

    /* Font config */
    font-family: 'Exo 2', sans-serif;
    font-size: 7.5rem;
    letter-spacing: 0.4rem;
    color: var(--base-txt-color);
    font-style: italic;
    text-transform: uppercase;
}

/* === Logo === */
.logo {
    /* Layout config */
    grid-column: 4 / 10;
    justify-self: center;
    width: 20.5rem;
    height: auto;
    margin-top: -7.5rem;
}

/* === Navigation container === */
nav {
    /* Layout config */
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    padding-top: 2.5rem;
    padding-left: 2.5rem;
    margin-top: 3.5rem;

    /* Internal layout (Flex) */
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

/* === Navigation link base style === */
nav a {
    /* Font config */
    font-family: 'Exo 2', sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--base-txt-color);
    
    /* Link appearance */
    text-decoration: none;
}

/* === Underline animation === */
.nav_link {
    position: relative;
    align-self: flex-start;
}

.nav_link::after {
    content: '';
    position: absolute;
    width: 0;
    height: 3px;
    bottom: -5px;
    left: 0;
    background-color: var(--base-txt-color);
    transition: .3s;
}

.nav_link::before {
    content: '';
    position: absolute;
    width: 3px;
    height: 10px;
    bottom: -5px;
    left: 0%;
    transform-origin: bottom left;
    background-color: var(--base-txt-color);
    transition: left .3s;
    transform: skew(42deg);
    opacity: 0;
}

.nav_link:hover::after {
    width: calc(100% + 16px);
}

.nav_link:hover::before {
    left: calc(100% + 16px);
    opacity: 1;
}