:root {
    /* Base font size */
    font-size: 100%; /* Default 16px */
}

/* Page base layout */
body {
    background-color: #111;

    /* Center main content */
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    min-height: 32vh;
}

/* Site title */
h1 {
    grid-column: 4 / 10;
    font-family: 'Exo 2', sans-serif;
    font-size: 6.5rem;
    font-weight: 200;
    font-style: italic;

    color: #fff;
    padding: 3.5rem 0rem 3.5rem;
    text-align: center;

    text-transform: uppercase;
}

/* Text selection style (Firefox) */
h1::-moz-selection {
}

/* Text selection style */
h1::selection {
}

/* Remove focus outline */
h1:focus {
}

/* Navigation container */
nav {
    grid-column: 1 / 4;
    padding: 4.5rem;
    margin-top: 2.5rem;

    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

/* Navigation link base style */
nav a {
    font-family: 'Exo 2', sans-serif;
    font-size: 3.5rem;
}

/* Neon navigation link */
.nav_link {
    position: relative;
    display: inline-block;
    text-decoration: none;
}

/* About link colors */
.about {
}

.about:hover {
}

/* Products link colors */
.products {
}

.products:hover {
}

/* Contact link colors */
.contact {
}

/* Contact link colors */
.contact:hover {
}

/* Suuport link colors */
.support {
}

.support:hover {
}