:root {
    /* Base font size */
    font-size: 10px;

    /* Neon effect colors */
    --neon-text-color: #f40;
    --neon-border-color: #08f;
}

/* Page base layout */
body {
    background-color: #111;

    /* Center main content */
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    min-height: 32vh;
}

/* Site title */
h1 {
    grid-column: 4 / 10;
    font-family: 'Exo 2', sans-serif;
    font-size: 11rem;
    font-weight: 200;
    font-style: italic;

    color: #fff;
    padding: 56px 0px 56px;
    text-align: center;

    /* Neon border */
    border: 0.4rem solid #fff;
    border-radius: 2rem;

    text-transform: uppercase;
    animation: flicker 3s infinite alternate;
}

/* Text selection style (Firefox) */
h1::-moz-selection {
    background-color: var(--neon-border-color);
    color: var(--neon-text-color);
}

/* Text slection style */
h1::selection {
    background-color: var(--neon-border-color);
    color: var(--neon-text-color);
}

/* Remove focus outline */
h1:focus {
    outline: none;
}

/* Navigation container */
nav {
    grid-column: 1 / 4;
    padding: 72px;
    left: 9rem;
    bottom: 4rem;

    display: flex;
    flex-direction: column;
    gap: 1.2rem;

    /* Keep link width equal to text width */
    align-items: flex-start;
}

/* Navigation link base style */
nav a {
    font-family: 'Exo 2', sans-serif;
    font-size: 5rem;
}

/* Neon navigation link */
.nav_link {
    position: relative;
    display: inline-block;
    text-decoration: none;

    /* Default neon colors */
    --neon-color: #fff;
    --neon-shadow1: #fff;
    --neon-shadow2: #fff;
    --neon-shadow3: #fff;

    /* Default underline colors */
    --underline-color-0: #fff;
    --underline-color-1: #fff;
    --underline-color-2: #fff;
    --underline-color-3: #fff;

    color: var(--neon-color);
    text-shadow:
        0 0 1px var(--neon-color),
        0 0 20px var(--neon-shadow1),
        0 0 10px var(--neon-shadow1),
        0 0 10px var(--neon-shadow2),
        0 0 60px var(--neon-shadow3);
}

/* Animated underline */
.nav_link::after {
    content: '';
    position: absolute;
    width: 0;
    height: 3px;
    bottom: -5px;
    left: 50%;

    /* Underline */
    background: var(--underline-color-0);
    box-shadow:
        0 0 1px var(--underline-color-0),
        0 0 20px var(--underline-color-1),
        0 0 10px var(--underline-color-1),
        0 0 10px var(--underline-color-2),
        0 0 60px var(--underline-color-3);
    
    transition: all 0.3s ease;
}

/* Expand underline on hover */
.nav_link:hover::after {
    width: 100%;
    left: 0;
}

/* About link colors */
.about {
    /* Text-color */
    --neon-color: #cc0022;

    /* Shadow-color */
    --neon-shadow1: #cc0022;
    --neon-shadow2: #ff0055;
    --neon-shadow3: #ff0040;

    /* Underline-color */
    --underline-color-0: #cc0022;
    --underline-color-1: #cc0022;
    --underline-color-2: #ff0055;
    --underline-color-3: #ff0040;
}

/* Products link colors */
.products {
    /* Text-color */
    --neon-color: #9929ea;

    /* Shadow-color */
    --neon-shadow1: #9929ea;
    --neon-shadow2: #9929ea;
    --neon-shadow3: #9929ea;

    /* Underline-color */
    --underline-color-0: #9929ea;
    --underline-color-1: #9929ea;
    --underline-color-2: #9929ea;
    --underline-color-3: #9929ea;
}

/* Contact link colors */
.contact {
    /* Text color */
    --neon-color: #00b61e;

    /* Shadow-color */
    --neon-shadow1: #00b61e;
    --neon-shadow2: #00b61e;
    --neon-shadow3: #00b61e;

    /* Underline-color */
    --underline-color-0: #00b61e;
    --underline-color-1: #00b61e;
    --underline-color-2: #00b61e;
    --underline-color-3: #00b61e;
}

/* Suuport link colors */
.support {
    /* Text-color */
    --neon-color: #ff5fcf;

    /* Shadow-color */
    --neon-shadow1: #ff5fcf;
    --neon-shadow2: #ff5fcf;
    --neon-shadow3: #ff5fcf;

    /* Underline-color */
    --underline-color-0: #ff5fcf;
    --underline-color-1: #ff5fcf;
    --underline-color-2: #ff5fcf;
    --underline-color-3: #ff5fcf;
}

/* Neon flicker animation */
@keyframes flicker {
    0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
        text-shadow: 
            -0.2rem -0.2rem 1rem #fff,
            0.2rem 0.2rem 1rem #fff,
            0 0 2rem var(--neon-text-color),
            0 0 4rem var(--neon-text-color),
            0 0 6rem var(--neon-text-color),
            0 0 8rem var(--neon-text-color),
            0 0 10rem var(--neon-text-color);
        
        box-shadow: 
            0 0 0.5rem #fff,
            inset 0 0 0.5rem #fff,
            0 0 2rem var(--neon-border-color),
            inset 0 0 2rem var(--neon-border-color),
            0 0 4rem var(--neon-border-color),
            inset 0 0 4rem var(--neon-border-color);
    }

    20%, 24%, 55% {
        text-shadow: none;
        box-shadow: none;
    }
}