:root {
    /* Base font size */
    font-size: 100%; /* Default 16px */

    /* Base bg color */
    --base-bg-color: #fcf9f2;

    /* Base text color */
    --base-txt-color: #4f3318;

    /* Breadcrumb color */
    --breadcrumb-active-color: #4f3318;
    --breadcrumb-inactive-color: #7b7b7b;

    /* Content text color */
    --dev-msg-color: #4f3318;
    --dev-img-border-color: #4f3318;
}

html, body {
    margin: 0;
    padding: 0;
}

/* === Page base layout === */
body {
    /* Theme */
    background-color: var(--base-bg-color);

    /* Layout config */
    display: grid;
    grid-template-columns: repeat(12, 1fr);

    /* Font config */
    font-family: 'Exo 2', sans-serif;
}

/* === Breadcrumb === */
.breadcrumb {
    /* UI config */
    cursor: default;

    /* Layout config */
    grid-column: 1 / 3;
}

.breadcrumb__inner {
    /* Layout config */
    list-style: none;

    display: flex;
    flex-direction: row;
    margin-top: 2.5rem;

    /* Font config */
    color: var(--breadcrumb-inactive-color);
    font-weight: bold;
    font-size: 1.2rem;
}

.breadcrumb__link {
    /* UI config */
    text-decoration: none;
    color: inherit;
}

.breadcrumb__link:hover {
    /* Font config */
    color: var(--breadcrumb-active-color);
}

.breadcrumb__item + .breadcrumb__item::before {
    /* Layout config */
    margin-left: 0.5rem;
    margin-right: 0.5rem;

    /* Font config */
    content: "›";
    color: var(--breadcrumb-inactive-color);
}

.breadcrumb__inner > li[aria-current="page"] {
    /* Font config */
    color: var(--breadcrumb-active-color);
}

/* === Dev message contents === */
main {
    /* Layout config */
    grid-column: 4 / 10;
    display: grid;
    place-items: center;

    min-height: 100dvh;
}

.dev-message {
    /* Layout config */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dev-message-img {
    /* UI config */
    width: 80%;
    height: auto;
    border: 1px solid var(--dev-img-border-color);
    border-radius: 5%;

    /* Layout config */
    margin-bottom: 1.5rem;
}

.cat-caption {
    /* UI config */
    cursor: default;

    /* Font config */
    font-size: 1.5rem;
    color: var(--dev-msg-color);
    word-spacing: 0.2rem;
    font-style: italic;
}