:root {
    /* Base font size */
    font-size: 100%;

    /* Base bg color */
    --base-bg-color: #fcf9f2;

    /* Base text color */
    --base-text-color: #4f3318;

    /* Breadcrumb color */
    --breadcrumb--active-color: #4f3318;
    --breadcrumb--inactive-color: #7b7b7b;

    /* Content color */
    --product-name-color: #4f3318;
    --product-img-border-color: #4f3318;
    --product-card-border-color: #4f3318;

    /* Product Layout */
    --product-gap: 1.5rem;
}

html, body {
    margin: 0;
    padding: 0;
}

/* === Page base layout === */
body {
    /* Theme */
    background-color: var(--base-bg-color);

    /* Layout config */
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    min-height: 100dvh;

    /* Font config */
    font-family: 'Exo 2', sans-serif;
}

/* === Breadcrumb === */
.breadcrumb {
    /* UI config */
    cursor: default;

    /* Layout cofig */
    grid-column: 1 / 3;
}

.breadcrumb__inner {
    /* Layout config */
    list-style: none;

    display: flex;
    flex-direction: row;
    margin-top: 2.5rem;

    /* Font config */
    color: var(--breadcrumb--inactive-color);
    font-weight: bold;
    font-size: 1.2rem;
}

.breadcrumb__link {
    /* UI config */
    text-decoration: none;
    color: inherit;
}

.breadcrumb__link:hover {
    /* Font config */
    color: var(--breadcrumb--active-color);
}

.breadcrumb__item + .breadcrumb__item::before {
    /* Layout config */
    margin-left: 0.5rem;
    margin-right: 0.5rem;

    /* Font config */
    content: "›";
    color: var(--breadcrumb--inactive-color);
}

.breadcrumb__inner > li[aria-current="page"] {
    /* Font config */
    color: var(--breadcrumb--active-color);
}

/* === Filter UI === */

/* === Product UI === */
main {
    /* Layout config */
    grid-column: 4 / 10;
    align-self: center;
    padding-top: 10.5rem;
    padding-bottom: 3.5rem;
}

.products {
    /* Layout config */
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: var(--product-gap);
    justify-content: center;
}

.product-card {
    /* UI config */
    border: 2px solid var(--product-card-border-color);
    border-radius: 5%;

    /* Layout config */
    padding-top: 1.5rem;
    padding-bottom: 0.5rem;
    padding-left: 3.5rem;
    padding-right: 3.5rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.product-card__link {
    /* Font config */
    text-decoration: none;
    color: inherit;
}

.product-card__icon {
    /* UI config */
    border: 2px solid var(--product-img-border-color);
    border-radius: 50%;

    /* Layout config */
    height: 110px;
    width: 110px;
    margin-top: 0.5rem;
}

.product-card__name {
    /* Font config */
    font-size: 1.5rem;
    color: var(--product-name-color);
    white-space: nowrap;
    word-spacing: 0.2rem;
    margin-bottom: 1.5rem;
}