body {
    background-color: #0b0b0b;
    /* background-color: #1a1516; */
}

h1 {
    text-align: center;
    font-family: 'Rock Salt', cursive;
    font-size: 4rem;
    color: rgb(168, 9, 168);
    /* Text Design */
    text-shadow:
        0 0 1px #fff,
        0 0 20px #ffffff,
        0 0 10px #ffffff,
        0 0 10px #e3d4e9,
        0 0 60px #ead6f1;
    /* Frame */
    border: 2px solid #fff;
    border-radius: 1rem;
    box-shadow: 0 0 1px #fff,
        inset 0 0 1px #fff,
        0 0 10px #b9c000,
        inset 0 0 10px #b9c000,
        0 0 20px #b9c000,
        inset 0 0 10px #b9c000;
    padding: 20px 30px;
    margin: 0 100px;
}

.wall {
    max-width: 900px;
    margin: 6em auto;
}

p {
    font-family: 'Rock Salt';
    font-size: 1.5rem;
    font-weight: bold;
    color: rgb(0, 255, 115);
}

h4 a {
    font-family: 'Rock Salt';
    font-size: 1.2rem;
}