/* ============ Body ============ */
body {
    background-color: #0b0b0b;
}

/* ============ H1 ============ */
h1 {
    text-align: center;
    font-family: 'Meow Script', 'Rock Salt', cursive;
    font-size: 6rem;
    color: rgb(168, 9, 168);

    /* ------------ Text Design ------------ */
    text-shadow:
        0 0 1px #fff,
        0 0 20px #ffffff,
        0 0 10px #ffffff,
        0 0 10px #e3d4e9,
        0 0 60px #ead6f1;
    
    /* ------------ Frame / border ------------ */
    border: 2px solid #fff;
    border-radius: 1rem;
    box-shadow: 0 0 1px #fff,
        inset 0 0 1px #fff,
        0 0 10px #b9c000,
        inset 0 0 10px #b9c000,
        0 0 20px #b9c000,
        inset 0 0 10px #b9c000;
    
    padding: 20px 30px; /* Inner padding */
    margin: 0 100px;    /* Outer padding */
}

/* ------------ H1 Blink Animation ------------ */
h1 span {
    /* blink animation */
    animation: blink linear infinite 1.4s;
}

h1 span:nth-of-type(2) {
    /* blink animation */
    animation: blink linear infinite 2s;
}

/* ============ Wall Container ============ */
.wall {
    max-width: 900px;
    margin: 6em auto;
}

/* ============ Paragraphs ============ */
p {
    font-family: 'Rock Salt';
    font-size: 1.5rem;
    font-weight: bold;
    color: rgb(0, 255, 0);

     /* Text Design */
    text-shadow:
        0 0 1px #3528e6,
        0 0 20px #3528e6,
        0 0 10px #251ca1,
        0 0 10px #2c1fdb,
        0 0 60px #1100ff;
}

/* ============ H4 ============ */
h4 {
    text-align: center;
}

/* ------------ Link Neon ------------ */
h4 a {
    font-family: 'Rock Salt';
    font-size: 1.2rem;
    color: #fff;
    text-shadow: 
        0 0 1px #fff,
        0 0 20px #cc0022,
        0 0 10px #cc0022,
        0 0 10px #ff0055,
        0 0 60px #ff0040;
}

/* ------------ Blink animation ------------ */
h4 a span {
    animation: blink linear infinite 1.3s;
}

h4 a span:nth-of-type(2) {
    animation: blink linear infinite 1.7s;
}

/* ------------ Animated Underline ------------ */
.animated-underline {
    position: relative;
    display: inline-block;
    text-decoration: none;
}

.animated-underline::after {
    content: '';
    position: absolute;
    width: 0;
    height: 3px;
    bottom: 0;
    left:50%;
    /* underline color */
    background: #fff;
    box-shadow:
        0 0 1px #fff,
        0 0 20px #cc0022,
        0 0 10px #cc0022,
        0 0 10px #ff0055,
        0 0 60px #ff0040;
    transition: all 0.3s ease;
}

.animated-underline:hover::after {
    width: 100%;
    left: 0;
}

/* ============ Blink Keyframes ============ */
@keyframes blink {
    70% {
        color: inherit;
        text-shadow: inherit;
    }
    72% {
        color: #333;
    }
    83% {
        text-shadow: none;
    }
    84% {
        color: inherit;
        text-shadow: inherit;
    }
    85% {
        color: #333;
        text-shadow: none;
    }
    86% {
        color: inherit;
        text-shadow: inherit;
    }
    95% {
        color: #333;
        text-shadow: none;
    }
    95.5% {
        color: inherit;
        text-shadow: inherit;
    }
}