:root {
    /* Base font size */
    font-size: 100%; /* Default 16px */

    /* Base bg color */
    --base-bg-color: #fcf9f2;

    /* Base text color */
    --base-txt-color: #323232;

    /* Breadcrumb color */
    --breadcrumb-active-color: #323232;
    --breadcrumb-inactive-color: #7b7b7b;
}

/* === Define style === */
html {
    scroll-snap-type: y mandatory;
}

/* === Page base layout === */
body {
    /* Theme */
    background-color: var(--base-bg-color);

    /* Layout config */
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    min-height: 32vh;
}

/* === Breadcrumb === */
nav[aria-label="Breadcrumb"] {
    /* UI config */
    cursor: default;
    
    /* Layout config */
    grid-column: 1 / 3;
}

.breadcrumb {
    /* Layout config */
    list-style: none;
    white-space: nowrap;

    display: flex;
    flex-direction: row;
    margin-top: 2.5rem;

    /* Font config */
    color: var(--breadcrumb-inactive-color);
    font-family: 'Exo 2', sans-serif;
    font-weight: bold;
    font-size: 1.2rem;
}

.breadcrumb > li > a {
    /* UI config */
    text-decoration: none;
    color: inherit;
}

.breadcrumb > li > a:hover {
    /* Font config */
    color: var(--breadcrumb-active-color);
}

.breadcrumb > li + li::before {
    /* Layout config */
    margin-left: 0.5rem;
    margin-right: 0.5rem;

    /* Font config */
    content: "›";
    color: var(--breadcrumb-inactive-color);
}

.breadcrumb > li[aria-current="page"] {
    /* Font config */
    color: var(--breadcrumb-active-color);
}

/* === Shared Section Styles === */
section {
    /* UI config */
    cursor: default;

    /* Layout config */
    scroll-snap-align: start;
    grid-column: 4 / 10;
    min-height: 100vh;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: clamp(4.5rem, 20vh, 10.5rem); /* TODO: 画面sizeによって調整が必要 */

    /* Font config */
    color: var(--base-txt-color);
    font-family: 'Exo 2', sans-serif;
}

/* === Philosophy section === */
.philosophy__inner h1 {
    /* Layout config */
    text-align: center;

    /* Font config */
    font-size: 5.5rem;
    font-style: italic;
    letter-spacing: 0.1rem;
}

.philosophy__inner p {
    /* Layout config */
    text-align: center;

    /* Font config */
    font-size: 2.5rem;
    word-spacing: 0.1rem;
}

/* === What We Do section === */
.wwd__inner h1 {
    /* Layout config */
    text-align: center;
    white-space: nowrap;

    /* Font config */
    font-size: 5.5rem;
    font-style: italic;
    word-spacing: 0.2rem;
}

.wwd__inner p {
    /* Layout config */
    text-align: center;

    /* Font config */
    font-size: 2.5rem;
    word-spacing: 0.1rem;
}

/* === Our Members Section === */
.members {
    /* Layout config */
    padding-top: clamp(4.5rem, 5vh, 10.5rem); /* TODO: 画面sizeによって調整が必要 */
}

.members h1 {
    /* Layout config */
    text-align: center;
    white-space: nowrap;

    /* Font config */
    font-size: 4.5rem;
    font-style: italic;
    word-spacing: 0.5rem;
}