:root {
    /* Base font size */
    font-size: 100%; /* Default 16px */

    /* Base bg color */
    --base-bg-color: #fcf9f2;

    /* Base text color */
    --base-txt-color: #323232;
}

html {
    scroll-snap-type: y mandatory;
}

body {
    /* Theme */
    background-color: var(--base-bg-color);

    /* Layout config */
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    min-height: 32vh;
}

section {
    /* UI config */
    cursor: default;

    /* Layout config */
    scroll-snap-align: start;
    grid-column: 4 / 10;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* Font config */
    color: var(--base-txt-color);
    font-family: 'Exo 2', sans-serif;
}