:root {
    /* Base font size */
    font-size: 100%; /* Default 16px */

    /* Base bg color */
    --base-bg-color: #fcf9f2;

    /* Base text color */
    --base-txt-color: #323232;
}

html {
    scroll-snap-type: y mandatory;
}

body {
    /* Theme */
    background-color: var(--base-bg-color);

    /* Layout config */
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    min-height: 32vh;
}

.breadcrumb {
    /* Layout config */
    grid-column: 2 / 3;
    list-style: none;
    white-space: nowrap;

    display: flex;
    flex-direction: row;
    margin-top: 1.5rem;

    /* Font config */
    color: var(--base-txt-color);
    font-family: 'Exo 2', sans-serif;
    font-weight: bold;
    font-size: 1.2rem;
}

.breadcrumb > li > a {
    /* UI config */
    text-decoration: none;
    color: inherit;
}

.breadcrumb > li + li::before {
    /* Layout config */
    margin-left: 0.5rem;
    margin-right: 0.5rem;

    /* Font config */
    content: ">";
}

section {
    /* UI config */
    cursor: default;

    /* Layout config */
    scroll-snap-align: start;
    grid-column: 4 / 10;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* Font config */
    color: var(--base-txt-color);
    font-family: 'Exo 2', sans-serif;
}

/* === Philosophy section === */
.philosophy__inner {
    /* Layout config */
    margin-top: -10.5rem;
}

.philosophy__inner h1 {
    /* Layout config */
    text-align: center;

    /* Font config */
    font-size: 5.5rem;
    font-style: italic;
    letter-spacing: 0.1rem;
}

.philosophy__inner p {
    /* Layout config */
    text-align: center;

    /* Font config */
    font-size: 2.5rem;
    word-spacing: 0.1rem;
}

/* === What We Do section === */
.wwd__inner {
    /* Layout config */
    margin-top: -10.5rem;
}

.wwd__inner h1 {
    /* Layout config */
    text-align: center;

    /* Font config */
    font-size: 4.5rem;
    font-style: italic;
    word-spacing: 0.2rem;
}

.wwd__inner p {
    /* Layout config */
    text-align: center;

    /* Font config */
    font-size: 2.5rem;
    word-spacing: 0.1rem;
}

/* === Our Members Section === */
.members {
    /* Layout config */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.members h1 {
    /* Layout config */
    text-align: center;
    margin-top: 5.5rem;

    /* Font config */
    font-size: 4.5rem;
    font-style: italic;
    word-spacing: 0.2rem;
}